/*

/***************/
/* OEFENING 02 */
/***************

Vraag 1:
*******

In onderstaande CSS-code zie je dat de kleur van het element <li class="red">nest 1</li> verschillende keren wordt ingesteld. 
Zoek hieronder zelf alle stijlen op die betrekking hebben op het element (<li class="red">nest 1</li>).
Noteer telkens: kleur - css selector - specificity. Rangschik vervolgens de lijst in dalende volgorde volgens specificity.

Controleer of jouw lijst overeenkomt met deze in de Developer Tools.







Vraag 2: (Multiple choice)
*******
  Beschouw de li-elementen in het nav-element. Hoe krijgen deze elementen hun waarde
  voor de CSS-eigenschap list-style-type?
    1. via de cascade
    2. via inheritance
    3. ze krijgen hun initial value
  Tip Maak gebruik van de Developer Tools


Vraag 3: (Multiple choice)
*******
  Beschouw het ul-element in het nav-element. Hoe verkrijgt dit element zijn waarde
  voor de CSS-eigenschap list-style-type?
    1. via de cascade
    2. via inheritance
    3. het krijgt zijn initial value
  Tip Maak gebruik van de Developer Tools

*/


body{
    font-family: monospace, Calibri, sans-serif;
}

a{
    text-decoration: none;
}

li{
    color:yellow;
}

ul li{
    color: green;
}

.red{
    color:red;
}

ul li li{
    color: blue;
}

aside{
    color: red;
}
ul a{
    color:red;
}
nav a{
    color: yellow;
}
nav a{
    color: blue;
}



